.container{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.title{
    background-color: white;
    opacity: 0.3;
    width: fit-content;
    padding: 5px;
    margin-bottom: 30px;
}
.image{
    height: 300px;
    object-fit: contain;
    margin-bottom: 30px;
};
.description{
    background-color: white;
    opacity: 0.3;
}